<!-- hbox layout -->
<div flex class="hbox hbox-auto-xs bg-light " ng-init="
app.settings.asideFixed = true;
app.settings.asideDock = false;
app.settings.container = false;
app.hideAside = false;
app.hideFooter = true;
" ng-controller="NewsCtrl as news">
<!-- column -->
<div flex class="col w-lg lt b-r">
  <div class="vbox">
    <div class="wrapper">
      <div class="h4">News Sources</div>
    </div>
    <div class="row-row">
      <div class="cell hover">
        <div class="cell-inner">
          <div class="padder">            
            <p ng-repeat="source in news.sources">
              <label class="md-check">
                <input type="checkbox" ng-model="source.selected">
                <i class="green"></i>

                  {{ source.name }}
              </label>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /column -->

<!-- column -->
<div class="col">
  <div class="vbox">
    <div class="wrapper bg-light lt b-">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <div class="input-group form-group">
            <input ui-jq="daterangepicker" ui-options="{
            format: 'YYYY-MM-DD'
          }" class="form-control" ng-model="news.dates" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            <button class="btn btn-default" type="button" ng-click="news.searchNews()">Queue Scrap Job</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row-row">
    <div class="cell">

    </div>
  </div>
</div>
</div>
<!-- /column -->
</div>
<!-- /hbox layout -->
