<div class="hbox hbox-auto-xs bg-light " ng-init="
app.settings.asideFixed = true;
app.settings.asideDock = false;
app.settings.container = false;
app.hideAside = false;
app.hideFooter = true;
" ng-controller="NewsBrowserCtrl as vm">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Browse News</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
                <div class="col-sm-12">
                  <label class="checkbox-inline" ng-repeat="source in vm.sources">
                    <input type="checkbox" ng-model="source.selected"> <i class="green"></i> {{source.name}}
                  </label>
                </div>
            </div>

      </div>
    </div>

        </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      News
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="vm.dataOptions" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th>Source</th>
            <th>URL</th>
            <th>Date</th>
            <th>Title</th>
            <th>Content</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
