<div class="hbox hbox-auto-xs bg-light " ng-init="
app.settings.asideFixed = true;
app.settings.asideDock = false;
app.settings.container = false;
app.hideAside = false;
app.hideFooter = true;
" ng-controller="ScraperLogCtrl as vm">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Scraping Log</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
    Log
    </div>    
    <div>
      <table class="table table-striped" ui-jq="footable" ui-options='{
      "paging": {
      "enabled": true
    },
  "sorting": {
  "enabled": true
}}'>
<thead>
  <tr>
    <th data-breakpoints="xs">Date</th>
    <th>Sources</th>          
  </tr>
</thead>
<tbody>        
  <tr ng-repeat="row in vm.data">      
    <td>{{ row.date }}</td>
    <td>{{ row.sources }}</td>      
  </tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
