<!-- <div class="clearfix" id="aside-user">
  <div class="wrapper blue-100">
    <a ui-sref="app.page.profile">
      <span class="thumb-md w-auto-folded avatar m-t-sm">
        <img src="img/a2.jpg" class="img-full" alt="...">
      </span>
    </a>
  </div>
</div> -->
<!-- / user -->
<nav ui-nav class="navi clearfix" ng-include="'tpl/blocks/material.nav.html'"></nav>
<!-- nav -->