<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  <li>
    <a ui-sref="app.news" md-ink-ripple class="auto">
      <i class="fa fa-newspaper-o"></i>
      <span class="font-bold">Scrap News</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.facebook" md-ink-ripple>
      <i class="fa fa-facebook"></i>
      <span class="font-bold">Scrap Facebook</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.browse-news" md-ink-ripple>
      <i class="fa fa-newspaper-o"></i>
      <span class="font-bold">Browse News data</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.browse-facebook" md-ink-ripple>
      <i class="fa fa-facebook"></i>
      <span class="font-bold">Browse Facebook data</span>
    </a>
  </li>

    <li ui-sref-active="active">
    <a ui-sref="app.scraper-log" md-ink-ripple>
      <i class="fa fa-newspaper-o"></i>
      <span class="font-bold">Scraper Log</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.zepage-one" md-ink-ripple>
      <i class="fa fa-newspaper-o"></i>
      <span class="font-bold">Page one</span>
    </a>
  </li>

</ul><!-- / list -->
